  <!-- Hero Section -->
  <section class="bg-gradient-to-r from-gray-200 via-gray-300 to-gray-400 py-20 text-center">
    <div class="container mx-auto">
      <h1 class="text-4xl font-bold text-textPrimary">Cuidamos la Salud de tu <span class="text-secondary">EMPRESA</span></h1>
      <p class="text-textSecondary mt-4">Nos encargamos de la capacitación, seguridad y salud de tu empresa</p>
      <button class="bg-secondary text-black px-6 py-3 mt-6 rounded-md font-bold">Contactar Ahora</button>
    </div>
  </section>